{% extends 'base.html' %}

{% load staticfiles %}


{% block title %} {{title}} {% endblock %}

{% block extra_head %}
        
{% endblock %}

{% block header_content %}

    {% include 'common/header_body.html' %}

{% endblock %}

{% block content %}

    <div class="container-fluid">
        <div class="row">
            <div class="alert alert-success" role="alert">
                <p>
                    <h2>Tu cuenta ahora está activa." %}</h2>
                    {% if not user.is_authenticated %}
                        <h2>Puedes logearte desde.</h2>
                        <a href="/accounts/login">Log In</a> o <a href="/accounts/register">Registro</a>
                    {% endif %}
                </p>
            </div>
        </div>
    </div>
    
{% endblock %}
