{% load staticfiles %}

{% load social_widgets %}

{% load app_filters %}

{% if not content %}
	{% get_loads as content %}
{% endif %}

<footer id="footer">
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<div class="newsletter">
					
					<h4>{{content.contents.footer.content.about.title}}</h4>
					<p>{{content.contents.footer.content.about.description}}</p>

					<div class="alert alert-success hidden" id="newsletterSuccess">
						<strong>Éxito!</strong> Has sido agregado a nuestra lista de noticias.
					</div>

					<div class="alert alert-danger hidden" id="newsletterError"></div>

				</div>
			</div>
			<div class="col-md-4">
				<div class="contact-details">
					<h4>{{content.contents.footer.content.contact_us.title}}</h4>
					<ul class="contact">
						<li><p><i class="fa fa-map-marker"></i> {{content.contents.footer.content.contact_us.item1 | safe}}</p></li>
						<li><p><i class="fa fa-phone"></i> {{content.contents.footer.content.contact_us.item2 | safe}}</p></li>
						<li><p><i class="fa fa-envelope"></i> {{content.contents.footer.content.contact_us.item3 | safe}}</p></li>
					</ul>
				</div>
			</div>
			<div class="col-md-4">
				<h4>{{content.contents.footer.content.follow_us}}</h4>
				<div id="tweet" class="twitter" data-plugin-tweets data-plugin-options='{"username": "", "count": 2}'>
					{% social_widget_render "facebook/likebox.html" href="https://www.facebook.com/Actime-960490897375387" %}
				</div>
			</div>
		</div>
	</div>
	<div class="footer-copyright">
		<div class="container">
			<div class="row">
				<div class="col-md-1">
					<a href="/" class="logo">
						<img alt="Actime" class="img-responsive" src="http://i.imgur.com/I6ajcx3.png">
					</a>
				</div>
				<div class="col-md-7">
					<p>{{content.contents.copyright_shit}}</p>
				</div>
				<div class="col-md-4">
					<nav id="sub-menu">
						<ul>
							<li><a href="/contact">Contacto</a></li>
						</ul>
					</nav>
				</div>
			</div>
		</div>
	</div>
</footer>