{% extends 'base.html' %}

{% load staticfiles %}

{% block title %} {{title}} {% endblock %}

{% block extra_head %}
<style type="text/css">
    .console-line, .console-line>i{
        font-size : 12px;
    }
    .temp-content, .pagination{
        font-size : 14px;
    }
    .product-thumb-info.running {
    	border-width: 2px;
    	border-color : #e36159;
    }
    
    .product-thumb-info.cicling {
    	border-width: 2px;
    	border-color : #5bc0de;
    }
    
    .product-thumb-info.triatlon {
    	border-width: 2px;
    	border-color : #2baab1;
    }
    
    .product-thumb-info.moto {
    	border-width: 2px;
    	border-color : #47a447;
    }
</style>
{% endblock %}

{% block header_content %}

    {% include 'common/header_body.html' %}

{% endblock %}

{% block content %}

	<div role="main" class="main shop">

		<div class="container">

			<div class="row">
				<div class="col-md-12">
					<hr class="tall">
				</div>
			</div>

			<div class="row">
				<div class="col-md-6">
					<h1 class="mb-none"><strong>Eventos Próximos</strong></h1>
				</div>
			</div>
			
			<br />
			{% if not next_events %}
				<div class="alert alert-danger" role="alert">
				  <span class="fa fa-frown-o" aria-hidden="true"></span>
				  No tenemos próximos eventos.
				</div>
			{% else %}
			
				<div class="owl-carousel owl-theme full-width" data-plugin-options='{"items": 5, "loop": false, "nav": true, "dots": false}'>
					{% for ne in next_events %}
						<div>
							<a href="/event/{{ne.pk}}">
								<span class="thumb-info thumb-info-centered-info thumb-info-no-borders">
									<span class="thumb-info-wrapper">
										<img src="{{ne.image_url}}" class="img-responsive" alt="">
										<span class="thumb-info-title">
											<span class="thumb-info-inner">{{ne.name}}</span>
											<span class="thumb-info-type">{{ne.event_type.name}}</span>
										</span>
										<span class="thumb-info-action">
											<span class="thumb-info-action-icon"><i class="fa fa-external-link-square"></i></span>
										</span>
									</span>
								</span>
							</a>	
						</div>
					{% endfor %}
				</div>
				
			{% endif %}
			
			<div class="row">
				<div class="col-md-6">
					<h1 class="mb-none"><strong>Eventos</strong></h1>
					<p>Todos los eventos.</p>
				</div>
			</div>
			
			{% if not events %}
				<div class="alert alert-danger" role="alert">
				  <span class="fa fa-frown-o" aria-hidden="true"></span>
				  No hay eventos.
				</div>
			{% else %}
			
				<div class="row">
				
					<ul class="products product-thumb-info-list" data-plugin-masonry>
						{% for e in events %}
						
							<li class="col-md-3 col-sm-6 col-xs-12 product" >
								
								{% if e.event_type.name == "Running" %}
								
									<span class="product-thumb-info running">
										
								{% elif e.event_type.name == "Ciclismo" %}
								
									<span class="product-thumb-info cicling">
								
								{% elif e.event_type.name == "Triathlon" %}
								
									<span class="product-thumb-info triatlon">
								
								{% elif e.event_type.name == "Motorcylce" %}
								
									<span class="product-thumb-info moto">
								
								{% endif %}
								
									<a href="/event/{{e.pk}}" class="add-to-cart-product">
										<span><i class="fa fa-edit"></i> Registro</span>
									</a>
									<a href="/event/{{e.pk}}">
										<span class="product-thumb-info-image">
											<span class="product-thumb-info-act">
												<span class="product-thumb-info-act-left"><em>Detalles</em></span>
											</span>
											<img alt="" class="img-responsive" src="{{e.image_url}}">
										</span>
									</a>
									<span class="product-thumb-info-content">
										<a href="shop-product-sidebar.html">
									
										{% if e.event_type.name == "Running" %}
								
											<h4><i class="fa fa-child"></i> {{e.name}}</h4>
										
										{% elif e.event_type.name == "Ciclismo" %}
								
											<h4><i class="fa fa-bicycle"></i> {{e.name}}</h4>
										
										{% elif e.event_type.name == "Triathlon" %}
								
											<h4><i class="fa fa-child"></i> {{e.name}}</h4>
										
										{% elif e.event_type.name == "Motorcylce" %}
										
											<h4><i class="fa fa-bicycle"></i> {{e.name}}</h4>
										
										{% endif %}
										
											<span class="price">
												<ins><span class="amount">{{e.date_start.date}}</span></ins>
											</span>
										</a>
									</span>
								</span>
							</li>
							
						{% endfor %}
					</ul>
				</div>
			
		    	<div class="row">
                
	                <span class="col-md-12">
	                    <ul class="pagination pull-right">
	                       	
	                        {% if events.has_previous %}
	                        	<li>
	                            	<a href="?page={{ events.previous_page_number }}"><i class="fa fa-chevron-left"></i> anterior</a>
	                        	</li>
	                        {% endif %}
	                    
	                        <li>
		                        <span class="current">
		                            Página {{ events.number }} de {{ events.paginator.num_pages }}.
		                        </span>
	                		</li>
	                		{% if events.has_next %}
	                        	<li>
	                            	<a href="?page={{ events.next_page_number }}">siguiente <i class="fa fa-chevron-right"></i></a>
	                        	</li>
	                        {% endif %}
	                    </ul>
	                </span>
	                
	            </div>
            
			{% endif %}
			
		</div>

	</div>
			
{% endblock %}